In [7]:
import pandas as pd
import numpy as np

tweet_df = pd.read_json('D:\dgpad\data_storage\Twitter-Lebanon-2021-12-01.json')
tweet_df.head()

,id,full_text,tweet_date,list_of_mention,mentions,username,display,descriptions,followers,following,...,location,is_retweet,retweet_count,is_reply,quote_count,reply_count,language,has_media,like_count,tweet_location
0,1465833009983201281,*بیروت لبنان مشترکہ اوقات آزان فقہ جعفریہ*\n*0...,2021-11-30 23:59:58+00:00,[],[],Momineenstime,پاک مومنین 🇦🇺🇨🇦🇵🇰,#Scholar #Writer #Poet #Social #Humanitarian #...,615,627,...,🌍 Global Hussainiat Humanity,NaN,0,True,0,0,ur,False,0,None
1,1465832924746596360,@beINSPORTS الله يحمي لبنان 🇱🇧 https://t.co/ib...,2021-11-30 23:59:37+00:00,[],[beIN SPORTS],Maria98157806,Maria,,2,39,...,,NaN,0,True,0,0,ar,True,1,None
2,1465832823533846532,@faljubairi تقصد ان فساد الحكومة اللبنانية قضى...,2021-11-30 23:59:13+00:00,[],[فهد الجبيري],FFFSSS2000,🇸🇦Faisal🇪🇬🇧🇭🇦🇪🇴🇲,اللهم أرنا الحق حقاً وارزقنا اتباعه وأرنا البا...,1052,2760,...,Kingdom of Saudi Arabia,NaN,0,True,0,0,ar,False,1,None
3,1465832799743750148,#حزب_الله_يدمر_لبنان,2021-11-30 23:59:07+00:00,[حزب_الله_يدمر_لبنان],[],Abdalezez990,🇸🇦عبدالعزيز🇸🇦,استغفرالله. 🇸🇦,29,75,...,المملكة العربية السعودية,NaN,0,True,0,0,und,False,0,None
4,1465832794429575169,@Mareime_Dahi لاء,2021-11-30 23:59:06+00:00,[],[مريم داهي],XfVwtqlw5ScQrM8,لبنان,لبنان اولاٌ واخيراً,40,186,...,,NaN,0,True,0,0,ar,False,0,None

In [17]:
data_frame = pd.DataFrame(tweet_df, columns=['username','followers','following','retweet_count','display','url','user_id','joined_date','full_text'])
data_frame

,username,followers,following,retweet_count,display,url,user_id,joined_date,full_text
0,Momineenstime,615,627,0,پاک مومنین 🇦🇺🇨🇦🇵🇰,None,2435439390,2014-04-09 13:19:25+00:00,*بیروت لبنان مشترکہ اوقات آزان فقہ جعفریہ*\n*0...
1,Maria98157806,2,39,0,Maria,None,1164344753724567552,2019-08-22 01:13:49+00:00,@beINSPORTS الله يحمي لبنان 🇱🇧 https://t.co/ib...
2,FFFSSS2000,1052,2760,0,🇸🇦Faisal🇪🇬🇧🇭🇦🇪🇴🇲,None,348371303,2011-08-04 09:39:04+00:00,@faljubairi تقصد ان فساد الحكومة اللبنانية قضى...
3,Abdalezez990,29,75,0,🇸🇦عبدالعزيز🇸🇦,None,1273401402170249216,2020-06-17 23:45:41+00:00,#حزب_الله_يدمر_لبنان
4,XfVwtqlw5ScQrM8,40,186,0,لبنان,None,1404071269906194432,2021-06-13 13:41:14+00:00,@Mareime_Dahi لاء
...,...,...,...,...,...,...,...,...,...
14276,p1v1com,916,595,1,طارق,None,468791352,2012-01-19 22:39:35+00:00,من يصدق ان بعد فتوى الخميني تحولت ايران الفارس...
14277,AladlyNassar,4,79,1,Nassar Aladly,None,1361384110883811328,2021-02-15 18:37:39+00:00,في لبنان أمس حكمت قاضيه مسيحيه جليله على ثلاث ...
14278,yenisafakEN,23697,16,1,Yeni Şafak English,http://english.yenisafak.com/,793388868,2012-08-31 08:26:01+00:00,Qatar to send foreign minister to cash-strappe...
14279,fadihawwa,14242,9030,1,Fadi Hawwa 🇱🇧 🇨🇾 ☦️ Ορθοδοξία,None,83824324,2009-10-20 11:31:42+00:00,ليكن رجاؤكَ نبع جرأتكَ للعيش بحَسب إيمانكَ وقن...
14280,arabic_post,435387,11,1,عربي بوست,https://arabicpost.net/,2707189183,2014-08-04 18:31:27+00:00,عون يتحدث في لقاء تلفزيوني عن أزمات لبنان، من ...

In [18]:
top_ten = data_frame.sort_values(by='retweet_count', ascending=False)
top_ten.head(10)

,username,followers,following,retweet_count,display,url,user_id,joined_date,full_text
6322,AlanRMacLeod,47981,995,983,Alan MacLeod,https://www.mintpressnews.com/author/alan-macl...,2365896248,2014-02-28 17:16:46+00:00,"""From Israeli kids to Lebanese kids, with love..."
1639,Salansar1,198660,3820,726,Salman Al-Ansari,None,1577663222,2013-07-08 13:16:23+00:00,شرائح كبيرة من الشعب اللبناني كانوا يعتقدون بأ...
11116,alnasser_FC99,2970,1533,464,🇱🇧عميد مشجعي العالمي في لبنان🇸🇦,None,742087988142845952,2016-06-12 20:15:38+00:00,#النصر\nيا جماعة شعبية النصر في لبنان طاغية......
13898,kyliehearn3,194,202,411,منسقه مساج,https://wa.me/966543718876,700845946100326400,2016-02-20 00:54:29+00:00,👨🏼‍💼 منسقه مساج واجمل السهرات بكل سريه\n#الكر...
41,faljubairi,67408,1213,367,فهد الجبيري,None,348639961,2011-08-04 19:17:56+00:00,#حزب_الله_يدمر_لبنان لانها خالية من الرجال \n#...
4400,Drkhalid_3,16023,205,360,أ.د. خالد آل هميل السبيعي,https://khalidhumail.com/,1246493333825957888,2020-04-04 17:42:40+00:00,قطر تستقبل الرئيس اللبناني حليف حزب الله الى ا...
10348,AlMayadeenNews,1725249,77,324,قناة الميادين,https://www.almayadeen.net/,594813423,2012-05-30 16:45:49+00:00,"""الاستسلام ذلّة والثبات عزّة والتصدي لكل مؤامر..."
3195,Salansar1,198660,3820,275,Salman Al-Ansari,None,1577663222,2013-07-08 13:16:23+00:00,#لبنان_تحت_الاحتلال ! https://t.co/SHWl5JDDiQ
9570,LinaZhaim,2660,1496,274,Lina Zhaim ~ لينا,None,133597090,2010-04-16 05:22:09+00:00,A mother in 🇱🇧 tells UNICEF she has suicidal t...
8545,ZaidZamanHamid,342015,0,204,Zaid Hamid,http://www.zaidhamid.pk,126966274,2010-03-27 15:49:30+00:00,جو طریقہ ہم بتا رہے ہیں اگر اس کو کرنے کی جرات...

In [19]:
top_ten.head(1)

,username,followers,following,retweet_count,display,url,user_id,joined_date,full_text
6322,AlanRMacLeod,47981,995,983,Alan MacLeod,https://www.mintpressnews.com/author/alan-macl...,2365896248,2014-02-28 17:16:46+00:00,"""From Israeli kids to Lebanese kids, with love..."

In [26]:
import numpy as np

ca = np.where(data_frame['display'] == 'ali')
print(ca)

(array([3391], dtype=int64),)

In [5]:
import pandas as pd

tweet_df = pd.read_json('D:\dgpad\data_storage\Twitter-Lebanon-2021-12-01.json')
data_frame = pd.DataFrame(tweet_df, columns=['username','followers','following','retweet_count','display','url','user_id','joined_date','full_text'])
data_frame['display'].map(lambda dis: dis == 'ali')

0        False
1        False
2        False
3        False
4        False
         ...
14276    False
14277    False
14278    False
14279    False
14280    False
Name: display, Length: 14281, dtype: bool

In [6]:
import pandas as pd

tweet_df = pd.read_json('D:\dgpad\data_storage\Twitter-Lebanon-2021-12-01.json')
data_frame = pd.DataFrame(tweet_df, columns=['username','followers','following','retweet_count','display','url','user_id','joined_date','full_text'])
data_frame.applymap(lambda dis: dis == 'ali')

,username,followers,following,retweet_count,display,url,user_id,joined_date,full_text
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
14276,False,False,False,False,False,False,False,False,False
14277,False,False,False,False,False,False,False,False,False
14278,False,False,False,False,False,False,False,False,False
14279,False,False,False,False,False,False,False,False,False
14280,False,False,False,False,False,False,False,False,False

In [10]:
import pandas as pd

# importing regex module
import re

tweet_df = pd.read_json('D:\dgpad\data_storage\Twitter-Lebanon-2021-12-01.json')

# removing null values to avoid errors 
# tweet_df.dropna(inplace = True)

# calling describe method
desc = tweet_df["display"].describe()
  
# display
desc

count          14281
unique          6962
top       Lebanon 24
freq             237
Name: display, dtype: object

In [11]:
import pandas as pd

# importing regex module
import re

tweet_df = pd.read_json('D:\dgpad\data_storage\Twitter-Lebanon-2021-12-01.json')

# removing null values to avoid errors 
# tweet_df.dropna(inplace = True)

# percentile list
perc =[.20, .40, .60, .80]
  
# list of dtypes to include
include =['object', 'float', 'int']

# calling describe method
desc = tweet_df.describe(percentiles = perc, include = include)
  
# display
desc

,id,full_text,tweet_date,list_of_mention,mentions,username,display,descriptions,followers,following,...,status_count,joined_date,location,is_retweet,retweet_count,quote_count,reply_count,language,like_count,tweet_location
count,1.428100e+04,14281,14281,14281,14281,14281,14281,14281,1.428100e+04,14281.000000,...,1.428100e+04,14281,14281,0.0,14281.000000,14281.000000,14281.000000,14281,14281.000000,14281
unique,NaN,14213,12883,2950,3306,7091,6962,5753,NaN,NaN,...,NaN,7091,1983,NaN,NaN,NaN,NaN,32,NaN,78
top,NaN,#حزب_الله_يدمر_لبنان,2021-11-30 14:00:00+00:00,[],[],Lebanon24,Lebanon 24,,NaN,NaN,...,NaN,2012-06-07 12:42:33+00:00,,NaN,NaN,NaN,NaN,ar,NaN,None
freq,NaN,9,5,8562,8590,237,237,2285,NaN,NaN,...,NaN,237,5418,NaN,NaN,NaN,NaN,11040,NaN,14073
mean,1.465677e+18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.130250e+05,1191.530635,...,9.644672e+04,NaN,NaN,NaN,1.268679,0.144458,0.819270,NaN,8.031580,NaN
std,8.633142e+13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.113771e+05,7104.521450,...,2.035646e+05,NaN,NaN,NaN,14.044238,3.159475,5.310358,NaN,50.267354,NaN
min,1.465471e+18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000e+00,0.000000,...,1.000000e+00,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,0.000000,NaN
20%,1.465595e+18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.020000e+02,82.000000,...,1.356000e+03,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,0.000000,NaN
40%,1.465652e+18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.750000e+02,264.000000,...,6.323000e+03,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,0.000000,NaN
50%,1.465681e+18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.210000e+02,393.000000,...,1.126200e+04,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,1.000000,NaN
60%,1.465710e+18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.734000e+03,550.000000,...,2.008200e+04,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,1.000000,NaN
80%,1.465762e+18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.101300e+04,1208.000000,...,9.165200e+04,NaN,NaN,NaN,1.000000,0.000000,1.000000,NaN,4.000000,NaN
max,1.465833e+18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.732532e+07,417879.000000,...,3.094628e+06,NaN,NaN,NaN,983.000000,330.000000,224.000000,NaN,2763.000000,NaN